body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.quiz-results-container {
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-results-container h1 {
    text-align: center;
    color: #333;
}

.quiz-results-container ol {
    list-style-type: none;
    padding: 0;
}

.quiz-results-container li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.quiz-results-container li::before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
    color: #5c5c76;
}

.question {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: #333;
}

.question p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.quiz-results-container h2{
    color :#333;
    padding-top: 10px;
    padding-bottom: 10px;
}